.estilo_login {
	font-family: "Cherry Swash";
	font-style: normal;
	font-size: x-large;
	color: #E8AE68;
	position: absolute;
	top: 130px;
	left: 550px;
}


table {
	width: 500px;
	height: 200px;
	background-color: #161925;
	position: absolute;
	top: 185px;
	left: 550px;
	font-family: 'Quicksand';
	font-size: large;
	color: #FDFFFC;
}

.field {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	width: 350px;
	background-color: #D0CDD7;
	border: solid 1px;
	border-radius: 5px;
	border-color: #FDFFFC;
	font-family: 'Quicksand';
	font-size: medium;
}

.login_button {
	background-color: #1E3F20;
	color: #FFFFFB;
	width: 100px;
	height: 50px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
	top: 320px;
	left: 1100px;
	font-family: 'Quicksand';
	font-size: medium;
}

.login_button:hover {
	background-color: #4A7856;
}

.estilo_create_acc {
	font-family: 'Quicksand';
	font-style: normal;
	font-size: large;
	color: #FFFFFB;
	position: absolute;
	top: 545px;
	left: 630px;
}

.create_acc_button {
	background-color: #FF6B35;
	color: #FFFFFB;
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
	top: 605px;
	left: 800px;
	font-family: 'Quicksand';
	font-size: medium;
}

.create_acc_button:hover {
	background-color: #D89D6A;
}